.side-nav{
    background-color: var(--white-color);
    width: 20%;
    height: 100%;
    padding: 8px;
    position: fixed;
    overflow: auto;
}

.main-body{
    width: 79%;
    position: relative;
    left: 20.5%;
    bottom: 12vh;
}

.nav-item{
    
    padding: 16px;
    margin-bottom: 8px;
    background-color: var(--bg-color);
    font-size: 16px;border-radius: 8px;
    
}
.selected{
    padding: 16px;
    background-color: var(--primary-color);
    font-weight: bold;   
}

.logo{
    margin: 16px 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.main-body section{
    padding: 16px;
    margin: 16px;
    background-color: var(--white-color);
    border-radius: 8px;
}

.section-title{
    font-weight: bold;
    font-size: 20px;
    padding: 16px 0;
}


.section-subtitle{
    font-weight: bold;
    margin: 8px 0;
}
.section-desc{
    font-size: 14px;
}
.section-content{
    margin: 0;
    
}

table,th,td{
    border: 1px solid;
    border-collapse: collapse;
}
th,td{
    padding: 16px;
}
td{
    width: 50%;
}
table{
    table-layout: fixed;
}
