@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root{
	--primary-color: #ffc973;
	--secondary-color:#279AF1;
	--white-color:#ffffff;
    --bg-color:#f2f2f2f2;
	--text-color:#140D00;
	--main-font: "Poppins",Sans-serrif;
	--inactive-color:#adadad;
}